<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fitnect.model.dao.PriceDao">

	<select id="selectPriceOneByPriceId" resultType="com.ssafy.fitnect.model.dto.PriceDayDto">
		SELECT priceId, days FROM PRICES
		WHERE priceId = #{priceId};
	</select>
	
</mapper>