<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fitnect.model.dao.RegistGymDao">

	<insert id="insertRegistUserOne">
	    INSERT INTO REGIST_USERS
	    (`gymId`, `userId`, `priceId`, `expiredDate`)
	    VALUES
	    (#{gymId}, #{userId}, #{priceId}, DATE_ADD(now(), INTERVAL #{days} DAY))
	</insert>
	
</mapper>